/* ĐỔI MÀU NÚT PRIMARY BOOTSTRAP */

.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: #ff6600;
  border-color: #ff6600;
}

.btn-primary:hover {
  background-color: #cc5200;
  border-color: #cc5200;
}

/* //ĐỔI MÀU NÚT PRIMARY BOOTSTRAP */

:root {
  --primary-color: #ff6600;
  --secondary-color: #ffc600;
  --font-color: rgba(22, 28, 45, 0.7);
  --bg-color: #fff;
  --heading-color: #232121;
  --border-radius: 6px;
  --border-radius-full: 35px;
  --border-color: transparent;
  --border-color-light: #eee;
  --nav-color: #232121;
  --dropdown-color: #fff;
  --iframe-filter: grayscale(0%);
  --bg-light: rgba(130, 115, 252, 0.05);
  --bg-grey: #f7f7f7;
  --footer-bg: #000;
  --card-bg: #fff;
}

[data-theme='dark'] {
  --primary-color: #ff6600;
  --secondary-color: #ffc600;
  --font-color: #c2d0da;
  --bg-color: #232220;
  --heading-color: #eee;
  --border-color: rgba(255, 255, 255, 0.2);
  --border-color-light: rgba(255, 255, 255, 0.1);
  --nav-color: #fff;
  --dropdown-color: #121725;
  --iframe-filter: grayscale(100%);
  --bg-light: #282828;
  --bg-grey: #282828;
  --card-bg: #888c96;
  --footer-bg: #000;
}

.noscroll {
  overflow: hidden;
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}

body,
html {
  margin: 0;
  padding: 0;
  background: var(--bg-color);
  color: var(--font-color);
}

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

body a,
button,
.btn {
  cursor: pointer !important;
}

.clear {
  clear: both;
}

.img-responsive {
  max-width: 100%;
  display: block;
}

.align-self {
  align-self: center;
}

button,
input,
select,
label,
li,
span {
  -webkit-appearance: none;
  outline: none;
  font-family: 'Quicksand', sans-serif;
}

a,
a:hover {
  text-decoration: none;
}

iframe {
  border: none;
  display: block;
}

ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: var(--heading-color);
  font-family: 'Quicksand', sans-serif;
}

p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  color: var(--font-color);
  font-family: 'Quicksand', sans-serif;
}

li {
  list-style-type: none;
}

p.white {
  color: #eee;
}

.align-center {
  align-self: center;
}

.noscroll {
  min-height: 100vh;
  overflow: hidden;
}

.radius-image {
  border-radius: var(--border-radius);
}

.radius-image-full {
  border-radius: var(--border-radius-full);
}

/*-- container --*/
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

/*-- //container --*/
.btn-style,
.btn-white {
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  transition: 0.3s ease-in;
  border-radius: var(--border-radius);
  border: 2px solid transparent;
}

.btn-white {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
}

.btn-white:hover {
  background: #fff;
  border: 2px solid #fff;
  color: var(--primary-color);
}

.transparent-btn {
  background: rgba(255, 255, 255, 0.25);
}

a.link-style,
a.link-style:active,
a.link-style:focus {
  transition: all 0.5s ease;
  font-size: 19px;
  font-weight: 600;
  display: inline-block;
  color: var(--secondary-color);
  box-shadow: none;
}

a.link-style1 {
  transition: all 0.5s ease;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  color: var(--heading-color);
  box-shadow: none;
}

.grids-gap {
  padding-top: 20px;
}

.title-black {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}

.title-orange {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: var(--primary-color);
  display: block;
  font-family: 'Pacifico', cursive;
}

.title-orange.two {
  color: #fff;
}

.title-orange span {
  color: var(--heading-color);
}

@media (max-width: 1080px) {
  .title-black,
  .title-black.two {
    font-size: 32px !important;
    line-height: 40px;
  }
}

@media (max-width: 736px) {
  .title-left {
    font-size: 26px;
    line-height: 36px;
  }
}

@media (max-width: 600px) {
  .title-black,
  .title-black.two {
    font-size: 30px !important;
    line-height: 38px;
  }
  p {
    font-size: 16px;
    line-height: 26px;
  }
  .title-orange {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .title-black,
  .title-black.two {
    font-size: 26px !important;
    line-height: 36px;
  }

  .btn-white,
  .btn-style {
    padding: 10px 21px;
  }

  .title-left {
    font-size: 22px;
    line-height: 32px;
  }
}

@media (max-width: 375px) {
  .btn-white,
  .btn-style {
    font-size: 16px;
  }

  .title-black,
  .title-black.two {
    font-size: 24px !important;
    line-height: 34px;
  }

  .title-orange {
    font-size: 16px !important;
    letter-spacing: 0.5px;
  }
}

/* OVERLAY */
/* Overlay style */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99999;
}

/* Overlay style */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(6 3 0 / 77%);
}

/* Overlay closing cross */
.overlay .overlay-close {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 40px;
  top: 40px;
  overflow: hidden;
  border: none;
  background: var(--primary-color);
  color: #fff;
  border-radius: var(--border-radius);
}

button#trigger-overlay {
  outline: none;
  border: none;
  background: none;
  text-align: center;
  color: #fbfdfb;
  font-size: 1.95em;
  padding: 0 8px;
}

/* Menu style */
.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
}
.overlay ul li {
  display: block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  line-height: 3em;
}
.overlay ul li a {
  font-size: 20px;
  font-weight: 600;
  display: block;
  color: #fff;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
  color: var(--primary-color);
}

/* Effects */
.overlay-scale {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.overlay-scale.open {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
}

@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px;
  }

  .overlay ul li {
    min-height: 34px;
  }
}
@media (max-width: 767px) {
  .overlay ul li a {
    font-size: 16px;
  }
  .overlay ul li {
    line-height: 2.5em;
  }
}
@media (max-width: 600px) {
  .overlay ul li a {
    font-size: 16px;
  }
  .overlay ul li {
    line-height: 2.2em;
  }
}

/* //OVERLAY  */

/*-- toggle switch --*/
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.theme-switch-wrapper em {
  margin-left: 10px;
  font-size: 1rem;
}

.theme-switch {
  display: inline-block;
  position: relative;
  margin: 0;
}

.theme-switch input {
  display: none;
}

/*-- //toggle switch --*/
/*-- dark and light mode styling --*/
.mode-container {
  width: 24px;
  height: 24px;
  padding: 1px 0;
}

.gg-sun {
  position: relative;
  transform: scale(var(--ggs, 1));
  height: 24px;
  background: linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat
      5px -6px/2px 6px,
    linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px 14px/2px
      6px,
    linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat -8px 5px/6px
      2px,
    linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 14px 5px/6px
      2px;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px;
  border: 6px solid transparent;
}

.gg-moon {
  overflow: hidden;
  position: relative;
  transform: rotate(-135deg) scale(var(--ggs, 1));
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-bottom: 2px solid transparent;
}

.gg-moon,
.gg-moon:after {
  display: block;
  box-sizing: border-box;
  border-radius: 50%;
}

.gg-moon:after {
  content: '';
  position: absolute;
  width: 12px;
  height: 18px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px;
  top: 8px;
  left: 2px;
}

.gg-sun,
.gg-sun:after,
.gg-sun:before {
  box-sizing: border-box;
  display: block;
  width: 24px;
}

.gg-sun:after,
.gg-sun:before {
  content: '';
  position: absolute;
  height: 2px;
  border-right: 4px solid;
  border-left: 4px solid;
  left: -6px;
  top: 5px;
}

.gg-sun:before {
  transform: rotate(-45deg);
}

.gg-sun:after {
  transform: rotate(45deg);
}

.mode-container i.gg-sun {
  display: none;
  color: #eee;
}

.mode-container i.gg-moon {
  display: block;
  color: #eee;
}

input:checked + .mode-container i.gg-sun {
  display: block;
}

input:checked + .mode-container i.gg-moon {
  display: none;
}

/*-- //dark and light mode styling --*/

/*--/banner-section-*/
.header {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 20px;
  padding: 40px 0 20px 0;
  align-items: center;
}

.right-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
}

.right-content .search-bar {
  display: flex;
  flex: 1;
  margin: 0 auto;
}

.right-content .search-bar .search .search__input {
  display: flex;
  flex: 1;
  padding: 10px 50px 10px 20px;
  height: 45px;
  font-size: 16px;
  color: var(--font-color);
  border: none;
  font-weight: 400;
  border-radius: var(--border-radius);
  position: relative;
  right: 0;
  background: var(--bg-color);
  outline: 0;
  border: 1px solid var(--bg-color);
}

.right-content .search-bar .search .search__icon {
  position: absolute;
  right: 20px;
  font-size: 15px;
  top: 15px;
  cursor: pointer;
}
@media (max-width: 600px) {
  .right-content .search-bar {
    display: none;
  }
}
h1 a.logo-brand {
  margin: 0;
  padding: 0;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}

.banner {
  background-size: cover;
  background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)),
    url(../images/banner1.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: initial;
  background-attachment: fixed;
  min-height: 700px;
}

.banner .banner-content {
  max-width: 600px;
  text-align: left;
  margin-top: 100px;
}

.banner .banner-content h3 {
  font-size: 54px;
  line-height: 64px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
}

.banner .banner-content p {
  font-size: 16px;
  line-height: 28px;
  color: #fff;
}
@media (max-width: 1190px) {
  .banner .banner-content h3 {
    font-size: 48px;
    line-height: 58px;
  }
}
@media (max-width: 992px) {
  .banner .banner-content h3 {
    font-size: 44px;
    line-height: 53px;
  }
}
@media (max-width: 800px) {
  .banner .banner-content h3 {
    font-size: 40px;
    line-height: 50px;
  }
  .banner {
    min-height: 600px;
    margin-top: 60px;
  }
}
@media (max-width: 480px) {
  .banner .banner-content h3 {
    font-size: 28px;
    line-height: 38px;
  }
  .banner .banner-content {
    max-width: 500px;
    margin-top: 30px;
  }
  .banner {
    min-height: 450px;
  }
}
/*--//banner-section--*/

/*--/footer--*/
.copyright #movetop {
  display: none;
  position: fixed;
  bottom: 55px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  width: 50px;
  height: 50px;
  background: var(--primary-color);
  padding: 0;
  line-height: 36px;
  border-radius: 35px;
  transition: 0.3s ease-out;
}

.footer-main {
  background: var(--footer-bg);
}

.footer-main a.navbar-brand {
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
  padding: 0;
}

.footer-main h6.footer-title {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 30px;
  font-weight: 700;
  position: relative;
  color: #fff;
}

.footer-main input[type='email'] {
  padding: 14px 20px;
  font-size: 18px;
  line-height: 28px;
  border: 1px solid transparent;
  outline: none;
  width: 100%;
  color: var(--font-color);
  background: var(--bg-color);
  border-radius: var(--border-radius);
}

.footer-main .subscribe input[type='email']:focus {
  border: 1px solid var(--primary-color);
  background-color: var(--bg-color);
}

.footer-main .footer-list ul li,
.footer-main .midd-footer-29:nth-child(1) .footer-list ul li:last-child {
  list-style: none;
  margin-bottom: 10px;
}

.footer-main .footer-list ul li:last-child {
  margin-bottom: 0px;
}

.footer-main p {
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
}

.footer-main .footer-list ul li a,
.footer-main .footer-list ul li p,
.copyright .footer-list ul li a,
.footer-main a {
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
}

.footer-main .footer-list ul li a:hover,
.copyright .footer-list ul li a:hover,
.footer-main a:hover {
  color: var(--primary-color);
}

.main-social-footer a {
  margin-right: 10px;
  color: var(--primary-color);
  display: inline-block;
  text-align: center;
  font-size: 16px;
  background: var(--bg-color);
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: var(--border-radius);
  transition: 0.3s;
}
.main-social-footer a span.fa {
  line-height: 36px;
}
.main-social-footer a:hover {
  background: var(--primary-color);
  transition: 0.3s;
  color: #fff;
}

.footer-list ul li span.fa {
  width: 25px;
}

.copyright .copy-footer a {
  color: var(--primary-color);
}

.copyright .copy-footer a:hover {
  color: #fff;
}

.copyright {
  padding: 1.2em 0;
  background: var(--footer-bg);
  border-top: 1px solid rgb(255 255 255 / 5%);
}

.footer-main .footer form {
  margin-top: 25px;
  position: relative;
}

.footer-main .footer-post a {
  font-weight: 500;
  color: #ccc;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 4px;
  display: inline-block;
}

.footer-main .footer-post a:hover {
  color: #eee;
}

.footer-main .map-iframe-ft iframe {
  -webkit-filter: var(--iframe-filter);
  -moz-filter: var(--iframe-filter);
  -ms-filter: var(--iframe-filter);
  -o-filter: var(--iframe-filter);
  filter: var(--iframe-filter);
  height: 200px;
  border-radius: var(--border-radius);
}

.copyright p.copy-footer {
  align-self: center;
  color: #ddd;
  font-size: 17px;
}

@media (max-width: 992px) {
  .copyright .copy-footer {
    text-align: center;
  }

  .footer-main .main-social-footer {
    text-align: center;
    margin-top: 20px;
  }

  .footer-main ul.list-btm-29 {
    text-align: center;
    margin-top: 10px;
  }

  .footer-main h6.footer-title {
    margin-bottom: 20px;
    font-size: 20px;
  }

  .copyright .main-social-footer {
    text-align: center;
    margin-top: 20px;
  }
}

@media (max-width: 415px) {
  .footer-main .footer-list ul li,
  .footer-main .midd-footer-29:nth-child(1) .footer-list ul li:last-child {
    margin-bottom: 8px;
  }

  .footer-main a.navbar-brand {
    font-size: 26px;
  }
}
